

<html>
<head>

  <script src="js/jquery.min.js"></script>
  <link rel="stylesheet" href="css/jquery_popup.css" />
  <script src="js/jquery_popup.js"></script>
</head>
<body>
  <div id="mainform">



    <div class="form" id="popup">



      <p id="onclick"></p>
    </div>

    <!-- Right side div -->
    <div id="formget"><a href=https://www.formget.com/app><img src="images/formget.jpg"/></a>
    </div>
  </div>

  <!--Contact Form -->
  <div id="contactdiv">
    <form class="form" action="#" id="contact">
      <img src="images/button_cancel.png" class="img" id="cancel"/>
      <h3 class="contact-header">Contact Form</h3>
      <hr/><br/>
      <label>Name: <span>*</span></label>
      <br/>
      <input class="contact-input" type="text" id="name" placeholder="Name"/><br/>
      <br/>
      <label>Email: <span>*</span></label>
      <br/>
      <input class="contact-input"type="text" id="email" placeholder="Email"/><br/>
      <br/>
      <label>Contact No: <span>*</span></label>
      <br/>
      <input class="contact-input"type="text" id="contactno" placeholder="10 digit Mobile no."/><br/>
      <br/>
      <label>Message:</label>
      <br/>
      <textarea id="message" placeholder="Message......."></textarea><br/>
      <br/>
      <input class="contact-input"type="button" id="send" value="Send"/>
      <input class="contact-input"type="button" id="cancel" value="Cancel"/>
      <br/>
    </form>
  </div>



</body>
</html>
