<nav class="social">
  <ul>
    <li><a href="http://twitter.com/gian_michelle">Twitter <i class="fa fa-twitter"></i></a></li>
    <li><a href="http://facebook.com/gian.michelle">Facebook <i class="fa fa-facebook"></i></a></li>
    <li><a href="http://dribbble.com/gian_michelle">Pinterest <i class="fa fa-pinterest"></i></a></li>
    <li><a href="http://behance.net">Google-plus <i class="fa fa-google-plus"></i></a></li>
    <li><a href="http://behance.net">Instagram <i class="fa fa-instagram"></i></a></li>

  </ul>
</nav>