<nav class="social">
  <ul>
    <li><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
    <li><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
    <li><a href="#">Pinterest <i class="fa fa-pinterest"></i></a></li>
    <li><a href="#">Google-plus <i class="fa fa-google-plus"></i></a></li>
    <li><a href="#">Instagram <i class="fa fa-instagram"></i></a></li>

  </ul>
</nav>
