<style>
  body{
  background-image: url("/assets/valley_aboutus.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  }
</style>
<div class="sth">
  <div class="aboutus-text">
    <h3 class="aboutus-header">GuideMe</h3>
    <p>
    Guide me is the quintessential website for connecting  travelers with high quality guides. Our service puts travelers at the forefront of an ever improving industry, by connecting a traveler with a guide that is passionate about the spreading of their culture. Our guides are the centerpiece of our mission. Our mission is to help facilitate a rewarding cultural immersion for our travelers and an unforgettable journey. Please take us along in your future travel endeavors.
  </p>
  </div>
</div>
