<h1>GuideMe</h1>

<form action="/guides" method="get">
  <input type="text" name="location">
  <input type="text" name="language">
  <input type="submit" value="Search">
  <input type="date">
</form>
