 <div class="main-container">
  <header>
    <script>
      var images = new Array('bbb.jpg','eee.jpeg','cappa.jpg', 'pichu.jpg');
      var nextimage=0;
      doSlideshow();

      function doSlideshow(){
        if(nextimage>=images.length){nextimage=0;}
        $('body').css('background-image','url("'+images[nextimage++]+'")')
        .fadeIn(100,function(){
          setTimeout(doSlideshow,10000);
        });
      }
    </script>
    <style>
      border-style: {
        /*background-image: url("pichu.jpg");*/
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center center;
      }
    </style>
    <!-- <h1 class="center_h1">GuideMe</h1> -->

    <%= render 'social_media' %>

    <div class="homeform">
      <h3 class="form-header">LET'S FIND A GUIDE..</h3>
      <div class="search-form">
        <form id="search_form" action="/guides" method="get">

          <input id="city" class="form-radius" type="text" name="location" placeholder= "Destination City" size="50" required>
          <label for="from">From</label>
          <input type="text" class="form-radius" id="from" name="from">
          <label for="to">to</label>
          <input type="text" class="form-radius" id="to" name="to">

          <select class="form-language" name='language' required>
            <option value="" default selected>Language</option>
            <% @languages.each do |language| %>
            <option value=<%= language %>><%= language %></option>
            <% end %>
          </select>
          <input id = "guide-search-but" class="form-radius" type="submit" value="Search">
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title text-center" id="myModalLabel">Become a GuideMe Member!</h1>

               <%= render '/partials/traveler_signup' %>
    <!--     <style>
              border-style: {
                background-image: url("pichu.jpg");
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: center center;
              }
            </style> -->


            </div>
          </div>
        </div>
        <div id='map'></div>
        <div id='city'></div>
      </header>
</div>





