<h1>GuideMe</h1>

<form action="/guides" method="get">
  <input type="text" name="location">

   <select name='location'>
    <option value="" default selected>Language</option>
    <% @languages.each do |language| %>
      <option value=<%= language %>><%= language %></option>
    <% end %>
  </select>

  <input type="submit" value="Search">
</form>

