 <style>
      body{
      background-image: url("pichu.jpg");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
      }
    </style>
<h1>GuideMe</h1>
<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
  </script>
  <div class="homeform">
    <h3 class="form-header">LET'S FIND A GUIDE..</h3>
    <form action="/guides" method="get">

      <input id = "city" class="form-radius" type="text" name="location" placeholder= "Destination City" required>
      <label for="from">From</label>
      <input type="text" class="form-radius" id="from" name="from">
      <label for="to">to</label>
      <input type="text" class="form-radius" id="to" name="to">

       <select class="form-language" name='language' required>
        <option value="" default selected>Language</option>
        <% @languages.each do |language| %>
          <option value=<%= language %>><%= language %></option>
        <% end %>
      </select>
      <input id = "guide-search-but" class="form-radius" type="submit" value="Search">
    </form>
  </div>
<div id='map'></div>
<div id='city'></div>



<!-- <input id = "city" type="text" name="email" placeholder="Email">
 -->
