<div class="row col-md-8 col-md-offset-2">

<div class="panel panel-default">
  <% if @conversation.messages.any? %>
    <div class="panel-body" id="messages">
      <%= render partial: 'messages/message', collection: @conversation.messages%>
    </div>
  <%else%>
  <%= @conversation.messages %>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

  <%= render partial: 'messages/message_form', locals: {message: @message, conversation: @conversation}%>
</div>
