<script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
  } );
  </script>

  <h3>Tell us when you're available!</h3>
  <form action="/available_dates" method="post">
    <label for="from">From</label>
      <input type="text" class="form-radius" id="from" name="available_date[start_date]", required>
      <label for="to">to</label>
      <input type="text" class="form-radius" id="to" name="available_date[end_date]", required>

      <input type="hidden" name="available_date[guide_id]" value="<%= @guide.id %>">
      <input type="submit" value="Submit">
  </form>

