<div class = "mailList" >
  <ul>
    <% @mailbox_conversations.each do |email|  %>
      <li><%= link_to email.subject, mail_conversation_path(email)%>
        <%= email.sender %>
        <%= email.updated_at.strftime("%m/%d/%Y") %>
      </li>
    <% end %>
  </ul>
</div>
