<div class="container">
  <h2>Inbox:</h2>

  <% @mailbox_conversations.each do |email| %>
    <p>
     <%= link_to email.subject, mail_conversation_path(email) %>
    </p>
  <% end %>

  <div>
      <%= link_to 'New Message', new_mail_conversations_path %>
  </div>

</div>
