<div class="container">
  <h2><%= @mailbox_conversation.subject %></h2>

  <% @mailbox_conversation.receipts_for(current_user).each do |receipt| %>
    <div>
      <%= receipt.message.body %><br> From: <%= receipt.message.sender.first_name %><br> at:
      <%= receipt.created_at %>
    </div>
  <% end %>
</div>
