.profile-header {
  background-color: #DBD9DB;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 300px;
}

.profile-img {
  float: left;
  margin: 10px;
  background-color: #E7EDEC;
  padding: 10px;
  border-radius: 10px;
}

.profile-info {
  font-family: 'Nunito', sans-serif !important;
  background-color: #FAFBFB;
  margin-left: 90px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.traveler-h1 {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #E5EBEA;
  font-size: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.interests{
  background-color: #F5F7F7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}