
@media screen and (min-width: 40.5em) {
  .product-img {
    width: 50%;
    float: left;
  }
}

.nav > li > a {
  color: beige;
}

.nav > li > a:active {
  color: black;
}

.fran{
  font-family: "Sue Ellen Francisco";
}

.bg {
  background-color: #B9CFE4;
}

.border-bot {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.float-left {
  /*font-family: "serif";*/
  font-size: 20px;
  border-radius: 8px;
  margin-left: 40px;
  float: left !important;
  width: 40%;
  background-color: white;
  padding: 10px;
}

.float-right {
  width: 40%;
  float: right !important;
}

.guide:hover{
  background-color: #acc2e5;
}
.allign{
  text-align: center;
}
.margin-bot10{
  margin-bottom: 10%;
}

.margin-top10{
  margin-top: 10%;
}
.margin-bot5{
  margin-bottom: 5%;
}

.margin-top5{
  margin-top: 5%;
}

.trip-location{
  font-size: 20px;
}

.inline{
  font-size: 16px;
  display: inline;
}

.trip-details{
  margin-top: 5%;
  display: none;
}
.show-detail{

}

.h1-guide {
  font-family: 'Sue Ellen Francisco' !important;
  background: #3f3f3f;
  color: #edf6f8;
  padding: 15px;
  opacity: 0.8;
  font-size: 60px;
}

.navbar > div> ul > li {
  font-family: "Sue Ellen Francisco";
}

body{
  padding-top: 0;

}

input {
  border: 1px solid #999;
  border-radius: 0;

  -webkit-appearance: none;
}

.modal-content{
      border: 8px solid #f4f7f8;
      background-image: url("pichu.jpg");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
}

.checkout-content{
  border-radius: 8px;
  background-color: white;
      border: 8px solid #f4f7f8;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
}

#imgmap {
  border-radius: 8px;
  margin-left: -9%;
  width: 100%;
  height: 100%;
}

.checkout {
  padding: 10px;
}

.guide {
  background-color: white;
  margin-top: 3%;
  margin-left: 6.7%;
  display: inline-block;
  border: 1px solid black;
  width: 40%;
  /*margin: 10px;*/
  float: left;
  border-radius: 5px;
  padding: 10px;

}

.saved_guide {
  margin: auto;
  width: 100%;
  background-color: #c9cefd;
}

.saved_attraction {
  background-color: #c9cefd;
}
.language-but{
  font-size:20px;
}
.guides-in-header{
  font-family: "Circular";
  width: auto;
  font-size: 30px;
  border: 1px solid white;
  background-color: white;
  text-align: center;
  opacity: 0.7;
  font-weight: bold;
}



.form-header{
  font-family: "Circular";
  font-size: 25px;
  width: auto;
  background-color: white;
  text-align: center;
  opacity: 0.7;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*.form-guides-page{
  width: auto
}*/
html,body{
  height: 100%;
  margin: 0;
  padding-top: 0;
/*  background: url(<%=@pic%>) no-repeat center center fixed;
*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.center_h1 {
  text-align: center;
}

.homeform{
  position: relative;
  width: 70%;
  overflow: auto;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #e9e9e9;
}



.g-index-form {
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
/*  padding-top: 20px;
*/  /*padding-bottom: 20px;*/
  text-align: center;
  opacity: 0.8;
  background-color: #e9e9e9;
}

.form-radius{

  border-radius: 4px;
}

#guide-search-but{
  background-color: #1f3e70;
  color: #ffffff ;
}
#checkout-login-but{
  font-size: 20px;
  height: 35px;
  width: 101px;
  background-color: white;
  float: right;
  color: #4bc970;
  border: 2px solid #4bc970;
}
#checkout-login-but:hover{
  background-color: #4bc970;
  color: white;
}

#checkout-signup-but{
  margin-left: 34px;
  padding: 0;
  font-size: 20px;
  height: 30px;
  width: 80px;
  background-color: white;
  color: #337ab7;
  border: 2px solid #337ab7;
}
#checkout-signup-but:hover{
  background-color: #337ab7;
  color: white;
}
.form-language{
/*  position: relative;
*/  line-height: 100px;
}

.navbar{
  font-size: 23px;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #333;
  /*padding: 25px 0 0 0 ;*/
}

.nav > li > a:hover{
  color: black;
}
.navbar > li {
  float: left;
  border-right:1px solid #bbb;
}

.navbar > li:last-child {
  border-right: none;
  float: right;
}


.navbar > li > a:hover:not(.active) {
  background-color: #111;
}

#email{
  width: 240px;
}

#password{
  width: 240px;
}

#checkout_email{
  font-size: 20px;
  height: 40px;
  width: 350px;
}

#checkout_password{
  font-size: 20px;
  height: 40px;
  width: 350px;
}
.active {
 /* background-color: #4CAF50;*/
}

.login-form{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  background-color: #eaecef;
  display: none;
  border-radius: 8px;
  height: 310px;
  width: 250px;
}
.checkout-login-form{
  text-align: center;
  /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);*/
 /* position: absolute;
  z-index: 999;
  background-color: #eaecef;
  border-radius: 8px;
  height: 310px;
  width: 250px;*/
}
.co-login-form{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  background-color: #eaecef;
  display: none;
  border-radius: 8px;
  height: 310px;
  width: 250px;
}

#marg{
  width: 350px;
  margin-top: 4%;
}
.checkout-have-account{
  padding-top: 3%;
  border-top: 1px solid beige;
}

.-default .navbar-toggle .icon-bar{
  background-color: white;
}
#traveler{
  position: absolute;
  /*z-index: 999;*/
  display: none;
}

.login-form > *{
  font-size: 21px;
}

.login-via{
  font-size: 26px;
}

/*.signup-form{
  padding-left: 2%;
  margin: auto;
  border: 1px solid black;
  z-index: 999;
  background-color: #c7cfdb;
  border-radius: 8px;
  width: 40%;
  height: 670px;
  opacity: 0.8;

}*/

.traveler-signup-form{
  /*position: absolute;*/
  padding-left: 2%;
  margin-top: -500px;
  margin-left: 600px;
  border: 1px solid black;
  z-index: 999;
  background-color: #c7cfdb;
  border-radius: 8px;
  /*height: 310px;*/
 /* width: 28%;
  height: 620px;*/
}

.signup-style {
  padding: 10px;
  border-top: 1px solid #696969;
}

.signup-style a {
  text-decoration: none;
}

.signup-style:hover {
  background-color: #d3d3d3;
}

.signup-drop{
  font-size: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 115px;
  background-color: #eaecef;
  display: none;
  border-radius: 8px;
  height: auto;
  z-index: 100;
  overflow: auto;
}

.buu{
  width: auto;
  margin-right: 3%;
  float: right;
  border-radius: 8%;
}

.signup-atts{
  padding-top: 5%;
  margin: 0;
}
.signup-group{
  font-size: 25px;
  margin: 0;
}
.already_member{

  font-size: 20px;
  margin-top: 2%;
}

.signup-elements {
  font-size: 20px;
  text-align: left;
}

.text-center{
  text-align: center;
}
.aboutus-text{
  height: 70%;
  width: 40%;
  margin: 30% auto;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #e9e9e9;
}
.aboutus-header{
  padding-top: 2%;
}
/*----------------------------*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .social-buttons{
    margin:12px 0
}

#login-dp .social-buttons a{
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}


.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


/* YELP CSS */

.event {
  margin: 10px;
  color: black;
}

.saved_event {
  /*font-size:16px;*/
  background-color: #c9cefd;
}

.events {
  background-color: white;
  border-radius: 10px;
}
/*------------------------
*/
/*a {
  color: #fff;
  text-decoration: none;
}*/
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: fixed;
  top: 40%;
  left: 1.3%;
  z-index: 3;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}


/*----CAROUSEL-------*/

/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */

   /* body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }
*/


    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control:hover{
      background: transparent;
    }

    .carousel-control {
      opacity: 0;
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      /*background-color: black;*/
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
      margin-bottom: -20%;
    }
    .carousel img {
      position: fixed;
      top: 0;
      left: 0;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */
/*
    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }*/


    /*@media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-inner{
        bottom: 20px !important;
        overflow: visible !important;
        margin-bottom: -30%;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }*/

