*{
  font-family: "Sue Ellen Francisco", cursive;
}

#ui-datepicker-div{
  width: 25em !important;
}
body{
  padding-top: 0;

}

.guide {
  display: inline-block;
  border: 1px solid black;
  width: 40%;
  margin: 10px;
  float: left;
  opacity: 0.8;
  border-radius: 5px;
  padding: 10px;

}

.saved_guide {
  margin: auto;
  width: 100%;
  background-color: #98fb98;
  font-size: 1.3em;
}

.saved_attraction {
  background-color: #98fb98;
}

.guides-in-header{
  font-size: 1.8em;
  width: auto;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  opacity: 0.7;
  font-weight: bold;
}

.form-header{
  width: auto;
  background-color: white;
  text-align: center;
  opacity: 0.7;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*.form-guides-page{
  width: auto
}*/
html,body{
  height: 100%;
  margin: 0;
  padding-top: 0;
/*  background: url(<%=@pic%>) no-repeat center center fixed;
*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.center_h1 {
  text-align: center;
}

.homeform{
  height: 100px;
  width: 70%;
/*  padding-top: 20px;
*/  /*padding-bottom: 20px;*/
  text-align: center;
  margin: 20% auto;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #e9e9e9;
}
.search-form{
  margin-bottom: 15%;
}
#search_form{
  font-size: 1.5em;
}

.form-radius{
  border-radius: 4px;
}

#guide-search-but{
  background-color: #1f3e70;
  color: #ffffff ;
  width: 4%;
}

.form-language{
/*  position: relative;
*/  line-height: 100px;
  width: 6%;
}

.navbar{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #333;
  /*padding: 25px 0 0 0 ;*/
}
.navbar > li {
  float: left;
  border-right:1px solid #bbb;
}

.navbar > li:last-child {
  border-right: none;
  float: right;
}

.navbar > li > a{
  font-size: 1.5em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar > li > a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.login-form{
  position: absolute;
  z-index: 999;
  background-color: #eaecef;
  display: none;
  border-radius: 8px;
  height: 310px;
  width: 250px;
}
.login-form > *{
  font-size: 20px;
}
.login-via{
  font-size: 20px;
}
.signup-form{
  /*position: absolute;*/
  padding-left: 2%;
  margin: auto;
  border: 1px solid black;
  z-index: 999;
  background-color: #c7cfdb;
  border-radius: 8px;
  /*height: 310px;*/
  width: 28%;
  height: 620px;
  opacity: 0.8;

}
.signup-drop{
  position: absolute;
  background-color: #eaecef;
  display: none;
  border-radius: 8px;
  height: 70px;
  width:9%;
  z-index: 100;
}
.signup-but{
  margin-left: 2%;
  background-color: #7ba9f2;
  float: right;
  border-radius: 8px;
}
.buu{
  width: auto;
  margin-right: 3%;
  float: right;
  border-radius: 8%;
}
.signup-atts{
  margin: 0;
}
.signup-group{
  margin: 0;
}
.signup-elements {
  font-size: 20px;
  margin-left: 7%;
  text-align: left;
  padding-top: 5%;

}
.aboutus-text{
  height: 70%;
  width: 40%;
  margin: 30% auto;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #e9e9e9;
}
.aboutus-header{
  padding-top: 2%;
}
/*----------------------------*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}


.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


/* YELP CSS */

.event {
  margin: 10px;
  color: black;
}

.saved_event {
  background-color: #98FB98;
}

.events {
  background-color: white;
  border-radius: 10px;
}
/*------------------------
*/
/*a {
  color: #fff;
  text-decoration: none;
}*/
.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
  position: fixed;
  top: 40%;
  left: 1.3%;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

