*{
  font-family: cursive;
}
/*.sth{
  background-image: url("valley_aboutus.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}*/
.guide {
  background-color: yellow;
  float: left;
}


html,body{
  height: 100%;
  margin:0;
/*  background: url(<%=@pic%>) no-repeat center center fixed;
*/
}

.center_h1 {
  text-align: center;
}

.homeform{
  height: 18%;
  width: 70%;
/*  padding-top: 20px;
*/  /*padding-bottom: 20px;*/
  margin: 30% 20%;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #e9e9e9;
}

.loginform{
  width: 25%;
  height: 15%;
  text-align: center;
  margin-top: 10%;
  /*margin-left: 18%;*/
  border-radius: 4px;
  opacity: 0.9;
  background-color: #5a6370;
}
.search-form{
  margin-bottom: 15%;
}

.form-radius{
  border-radius: 4px;
}

#guide-search-but{
  background-color: #1f3e70;
  color: #ffffff ;
}

.form-header{
  padding-bottom: 5%;
}
.form-language{
/*  position: relative;
*/  line-height: 100px;
}

.navbar{
  background-color: #5a6370;
  list-style: none;
  text-align: center;
  margin: 0;
  /*padding: 25px 0 0 0 ;*/
}
.navbar > li {
  display: inline-block;
  padding-right: 150px;
  font-size: 20px;
}

.navbar > li > a{
  color: #ffffff;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-form{
  position: absolute;
  background-color: #eaecef;
  display: none;
  border-radius: 8px;
  height: 290px;
  width:20%;
  opacity: 0.8;
}

.signup-drop{
  position: absolute;
  background-color: #eaecef;
  display: none;
  border-radius: 8px;
  height: 70px;
  width:9%;
  opacity: 0.8;
}

.signup-elements {
  font-size: 15px;
  text-align: left;
  padding-top: 5%;

}
.aboutus-text{
  height: 70%;
  width: 40%;
  margin: auto ;
  text-align: center;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #e9e9e9;
}
/*----------------------------*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


/* YELP CSS */

.events {
  float: right;
  background-color: red;
}

