.signup-atts {
  font-family: 'Nunito', sans-serif !important;
  color: black;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  opacity: 0.85;
  padding-bottom: 30px;
}

.modal-header {
  border-radius: 8px;
}

.buu {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e0e4e4;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.buu {
  color: black;
  margin: 0 4px 8px 0;
}

.signup-but {
  float: right;
  margin-top: 20px;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 18px;
  margin-left: 2%;
}

.form-padding {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  background: rgba(255,255,255,0.1);
  font-size: 16px;
  margin: 0;
  outline: 0;
  background-color: #e8eeef;
  color: #3f3f3f;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
