<div class="saved_event">
  <img src="<%= restaurant.image_url %>" alt="edit" />
  <a href="<%=restaurant.url%>" target="_blank"><%= restaurant.name %></a>

  <%= link_to 'Remove', yelps_remove_path(restaurant: restaurant.name, location: @location), method: :post, id: 'remove_restaurant', class: "add-remove-but" %><br>

</div>
