<div class="saved_event">
  <img src="<%= event.image_url %>" alt="edit" />
  <%= event.name %>
  <%= link_to 'Remove', yelps_remove_path(session[:traveler_id], event: event.name, location: @location), method: :post, id: 'remove_event', class: "add-remove-but" %>
</div>
