<div id="tab-2" class="tab-content events">
  <% @events_call.each do |event| %>
    <% if session["events"].include?(event.name) %>
      <%= render partial: 'add_event', locals: { event: event, location: @location } %> 
    <% else %>
      <%= render partial: 'remove_event', locals: { event: event, location: @location } %>
    <% end %>
  <% end %>
</div>