<div id="tab-1" class="tab-content current guides">
  <% unless session["guide"].empty? %>
    <%= render partial: 'remove_guide', locals: { guide: Guide.find_by(email: session["guide"]) } %>
  <% end %>
  <% @guides.each do |guide| %>
    <% unless session["guide"] == guide.email %>
      <%= render partial: 'add_guide', locals: { guide: guide } %>
    <% end %>
  <% end %>
</div>