<div class="event">
  <img src="<%= event.image_url %>" alt="edit" />
  <%= event.name %>
  <%= link_to 'Add', yelps_add_path(session[:traveler_id], event: event.name, location: @location), method: :post, id: 'add_event' %>
</div>
