<div class="attraction">
  <img src="<%= attraction.image_url %>" alt="edit" />
  <%= attraction.name %>
  <%= link_to 'Add', yelps_add_path(session[:traveler_id], attraction: attraction.name, location: @location), method: :post, id: 'add_attraction' %>
</div>