<div class="restaurant">
  <img src="<%= restaurant.image_url %>" alt="edit" />
  <a href="<%=restaurant.url%>" target="_blank"><%= restaurant.name %></a>
  <%= link_to 'Add', yelps_add_path(session[:traveler_id], restaurant: restaurant.name, location: @location), method: :post, id: 'add_restaurant', class: "add-remove-but" %>
</div>
