<div id="tab-3" class="tab-content restaurants">
  <% @restaurants_call.each do |restaurant| %>
    <% if session["events"].include?(restaurant.name) %>
      <%= render partial: 'add_restaurant', locals: { restaurant: restaurant, location: @location } %>
    <% else %>
      <%= render partial: 'remove_restaurant', locals: { restaurant: restaurant, location: @location } %>
    <% end %>
  <% end %>
</div>