<div class="co_login-form" style="overflow: visible; position: fixed; font-family: 'circular'">
  <p class="login-via">Login via</p>
  <div class="social-buttons">
    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
  </div>
  <h4>or</h4>
  <div class="form-group">
    <%= form_tag sessions_path do %>
    <div class="form-group overflowAuto"><%= text_field_tag :email,nil , placeholder: "Email address", size: "35" %><br></div>
    <div class="form-group"><%= password_field_tag :password, nil, placeholder: "Password", size: "35" %><br></div>
    <div ><a href>Forget the password ?</a></div>
      <%= submit_tag "Login", class: "btn btn-primary btn-block" %>
  <% end %>
    <div class="checkbox">
    </div>
  </div>
</div>
