<div class="signup-drop">
  <div class="signup-elements"><%= link_to 'Guide Sign up', new_guide_path, class:"signup-elements-font" %></div>
  <div class="signup-elements"><%= link_to 'Traveler Sign up', new_traveler_path, class:"signup-elements-font" %></div>
</div>
