<div class="signup-drop">
  <div class="signup-elements signup-style"><%= link_to 'Guide Sign up', new_guide_path, class: "signup-elements-font" %></div>
  <div type="button" class="signup-elements signup-style" data-toggle="modal" data-target="#myModal"><%= link_to 'Traveler Sign up', new_traveler_path, id: "signup", class: "signup-elements-font" %></div>
</div>
